@font-face {
    font-family: "Handlee";
    src: url("../fonts/Handlee-Regular.ttf") format("truetype");
    /* font-weight: 100; */
    font-style: normal;
}

html {
    background: whitesmoke;
}
body {
    min-width: 350px;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    min-width: 500px;
    max-width: 600px;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid;
    background-color: #422680;
    color: white;
}
#title {
    align-self: center;
    text-align: center;
    font-size: 40px;
    width: 100%;

    border-bottom: 3px solid;
    padding: 20px;
    background-color: #280659;
    /* background-color: #341671; */
    color: white;
}

#navbar {
    /* justify-self: left; */
    align-self: left;
    width: 29%;
    text-align: center;
    background-color: #341671;
    /* min-width: 170px; */
}

#taskView {
    width: 70%;
    height: 800px;
    /* min-width: 413px; */
    border-left: 2px solid;
    align-self: flex-end;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#taskView::-webkit-scrollbar {
    display: none;
}

#projectsView {
    display: flex;
    flex-direction: column;
}

.taskDesc {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-right: 40px;
    width: 150px;
}

.project {
    margin: 5px;
    border-bottom: 1px solid;
}
.project:hover {
    cursor: pointer;
}

.projectBtn {
    margin: 5px;
}

.task {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    /* background-color: #653cf7; */
    background-color: #280659;
}

.editBtn {
    margin-left: 10px;
}

.delBtn {
    /* margin-left: 10px; */
    width: 50px;
}
.addTaskBtn {
    width: 100px !important;
    height: 30px !important;
    font-size: 15px !important;
    margin: 20px 0px 30px 38% !important;
}

.addProjectBtn {
    width: 100px !important;
    height: 30px !important;
    font-size: 15px !important;
    margin-left: 20px !important;
}

.placeholder {
    margin-top: 60%;
    text-align: center;
}

.btn41-43 {
    padding: 5px 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.bn632-hover {
    width: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 25px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.input-box {
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}
.input-styling {
    width: 50%;
}
#time,
#description,
#name,
#dropdown {
    margin-top: 10px;
}

#dropdown:hover,
#time:hover {
    cursor: pointer;
}

.taskName {
    font-family: "Handlee";
    font-weight: 800 !important;
    font-size: 30px;
}

.taskDate {
    font-family: "Handlee";
    font-size: 15px;
}

/* .priorityStatus {

} */

.input-styling-box {
    font-size: 15px;
    width: 50%;
}

#taskInputs {
    width: 62%;
}
#dropdown {
    width: 62%;
}

.form-btn {
    margin-left: 116px !important;
    text-align: center;
    font-size: 18px !important;
    width: 50px !important;
    height: 30px !important;
}

.bn632-hover.bn27 {
    margin-left: 1px;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
    box-shadow: 2px 2px 5px 0 rgba(236, 116, 149, 0.75);
}
.bn632-hover.bn26 {
    margin-left: 55px;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 2px 2px 5px 0 rgba(65, 132, 234, 0.75);
}

.modal {
    color: black;
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 300px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
}
.close-btn:hover {
    color: darkgray;
    cursor: pointer;
}
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
